:root {
  --primary-color: #d96d55;
  --text-color: #f2d8c9;
  --bg-color: #262626;
  --input-bg: #40414f;
  --accent-color: #f2d8c9;
  --accent-color-2: #d96d55;
  --accent-color-3: #730202;
  --accent-color-4: #590202;

  // font-size
  --font-size-xs: 0.75rem; // 12px
  --font-size-sm: 0.875rem; // 14px
  --font-size-base: 1rem; // 16px
  --font-size-lg: 1.125rem; // 18px
  --font-size-xl: 1.25rem; // 20px
  --font-size-2xl: 1.5rem; // 24px
  --font-size-3xl: 1.875rem; // 30px
  --font-size-4xl: 2.25rem; // 36px
  --font-size-5xl: 3rem; // 48px
  --font-size-6xl: 4rem; // 64px
  --font-size-7xl: 5rem; // 80px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
