@use './base.scss';

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.5;
}

.chat-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // max-width: 48rem;
  margin: 0 auto;
  padding: 2rem;
}
